{% extends "FrontOffice/layout.html.twig" %}

{% block title %}
    Accueil | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">RECETTES PAR INGREDIENT</h2>
        {% for ingredientCategory in ingredientCategories %}
            <img class="col-md-3" src="{{ asset(ingredientCategory.image.url) }}" />
        {% endfor %}
    </section>

    <section class="row">
        <h2 class="col-md-12">RECETTES PAR TYPE</h2>
        {% for partOfMenu in partsOfMenu %}
            <img class="col-md-3" src="{{ asset(partOfMenu.image.url) }}" />
        {% endfor %}
    </section>

    <section class="row">
        <h2 class="col-md-12">RECETTES PAR PAYS</h2>
        {% for specialtyCountry in specialtiesCountries %}
            <img class="col-md-3" src="{{ asset(specialtyCountry.image.url) }}" />
        {% endfor %}

    </section>
{% endblock %}
