{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/frontOffice.css') }}" />
{% endblock %}

{% block nav %}
    {{ parent() }}
    <div class="col-md-12">
    <a class="col-md-2" href="{{ path('front_index') }}">Accueil</a>
    <a class="col-md-2" href="">Recettes du monde</a>
    <a class="col-md-2" href="">Recettes par ingrèdient</a>
    <a class="col-md-2" href="">Ajouter une recette</a>
    <a class="col-md-2" href="">Contact</a>
    </div>
{% endblock %}
