{% extends "BackOffice/layout.html.twig" %}

{% block title %}
   Modifier un type de menu | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">MODIFIER LE TYPE : {{ partOfMenu.type }}</h2>
        {{ include ('ManagePartOfMenu/formPartOfMenu.html.twig') }}
    </section>
{% endblock %}