<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}ODélices voyage{% endblock %}</title>
        {% block stylesheets %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="{{ asset('css/general.css') }}" />
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://use.fontawesome.com/f520e036a2.js"></script>

        {% endblock %}
    </head>

    <body>
    <script>
        $ (function(){
            function resultSearch(message) {
                $('#resultSearch').text(message);
            }
            $('#search').autocomplete({
                source:'{{ path('front_office_recipe_json') }}',
                minLength: 2,
                delay: 100
            });
        });
    </script>
    <div class="container-fluid">

        <nav class="navbar navbar-default navbar-fixed-top nav_header">
            {% block nav %}
            {% endblock %}
        </nav>

        <header class="row">
           {% block header %}
           {% endblock %}
        </header>
    </div>
    <div class="container-fluid row">
        {% block nav_vertical %}
        {% endblock %}
        <div class="container col-md-8">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="container-fluid row">
            <footer class="col-md-12">
                {% block footer %}

                        <div id="footer-social" class="col-md-6 col-md-offset-3">
                            <a href=""><i class="fa fa-facebook fa-2x icone_fontawesome_network"></i></a>
                            <a href=""><i class="fa fa-twitter fa-2x icone_fontawesome_network"></i></a>
                            <a href=""><i class="fa fa-google-plus fa-2x icone_fontawesome_network"> </i></a>
                            <a href=""><i class="fa fa-instagram icone_fontawesome_network fa-2x"></i></a>
                        </div>
                        <div class="row">
                            <p class="col-md-12">Copyright David Alfaro Chiva</p>
                        </div>

                {% endblock %}
            </footer>
    </div>
    </body>
</html>
