{% extends "BackOffice/layout.html.twig" %}

{% block title %}
    Liste des commentaires{{ parent() }}
{% endblock %}

{% block body %}

    <section class="row">
        <h2 class="col-md-12">LISTE DES COMMENTAIRES</h2>
        {% for comment in comments %}
            <div class="col-md-12">
                <p>{{ comment.id }}</p>
            </div>
        {% endfor %}
    </section>

{% endblock %}