header
{
    color: white;
    text-align: center;
    margin-top : 50px;
    background-color: #31B0D5;
}
#welcome-user
{
    font-size: 1.3em;
    font-weight: bold;
}
.editUserAdmin
{
    font-size: 1.3em;
}
section img
{
    margin-top: 10px;
    height: 200px;
}

.nav_vertical h3
{
    font-size: 1.2em;
    text-align: center;
}
figure
{
    text-align: center;
}
figure p
{
    font-size: 1.2em;
}