.header_slider
{
    background-image: url("../images/hamburger-header.jpg");
    background-size: cover;
    height: 600px;
    color: white;
}
.title_recipe
{
    font-size : 3em;
    font-weight: bold;
}
.note_recipe
{
    font-size: 2em;
}
.list_ingredient_recipe h3
{
    font-size: 2em;
    font-weight: bold;
}
.list_ingredient_recipe li
{
    font-size: 1.5em;
}
.author_recipe
{
    font-size: 1.5em;
}
.search_header
{
    top : 300px;
    color: black;
}
section img
{
    margin-top: 10px;
    height: 200px;
}

figure
{
    text-align: center;
}
figure h3
{
    font-size: 1.2em;
    font-weight: bold;
}
figure p
{
    font-size: 1.2em;
}

.button-more
{
    margin-top: 10px;
}
.message-comment
{
    font-size: 2em;
    font-weight: bold;
}

/** Support téléphone mobile **/
@media all and (max-width: 767px)
{
    .header_slider
    {
        background-image: none;
        height: 50px;
        color: white;
    }

    .search_header
    {
        top: 50px;
        color: black;
    }

}

/** Support tablette **/
@media all and (min-width: 768px) and (max-width: 991px)
{

}
/** Support petit écran **/
@media all and (min-width: 992px) and (max-width: 1200px)
{

}