.header_slider
{
    background-image: url("../images/hamburger-header.jpg");
    background-size: cover;
    height: 600px;
    color: white;
}
.search_header
{
    top : 300px;
    color: black;
}
section img
{
    margin-top: 10px;
    height: 200px;
}
figcaption
{
    margin-top: -200px;
    height: 200px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}
figcaption p
{
    font-weight: bold;
}
figcaption a
{
    top: 125px;
}
figcaption:hover
{
    opacity: 1;
}
figure
{
    text-align: center;
}
figure h3
{
    font-size: 1.2em;
    font-weight: bold;
}
figure p
{
    font-size: 1.2em;
}