{% extends "BackOffice/layout.html.twig" %}

{% block title %}
   Modifier un pays | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="row">
        <h2 class="col-md-12">MODIFIER LE PAYS : {{ specialtyCountry.country }}</h2>
        {{ include ('ManageSpecialtyCountry/formSpecialtyCountry.html.twig') }}
    </section>
{% endblock %}